<div class="list-header">
	<h2> Співробітники</h2>
</div>
	<div class="clearfix">
		<p class="search-label pull-left"> <strong>Шукати: </strong><input class="search-field" ng-model="searchField" /></p>
	</div>

	<div uib-alert ng-class="'alert-warning'" ng-show="error_message" style="margin-top: 50px;" close="closeAlert()">{{error_message}}</div>

	<div style="margin-top: 20px">
		<table class="table table-striped table-bordered">
			<thead>
				<th>Ім'я, Прізвище</th>
				<th>Телефон 1</th>
				<th>Телефон 2</th>
				<th>E-mail</th>
			</thead>
			<tbody>
				<tr ng-repeat="manager in managers | filter: searchField">
					<td>{{manager.firstName + " " + manager.lastName}}</td>
					<td>{{manager.phone}}</td>
					<td>{{manager.phone2}}</td>
					<td>{{manager.email}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

