<div class="col-sm-8
 col-sm-offset-2">
  <form class="profile-form form-horizontal" ng-submit="update(user)">
	<h2 style="text-align:center; margin-bottom:20px">Мій профіль</h2>
	<p style="text-align:center" class="text-warning">{{error_message}}</p>
	<div class="form-group">
		<label for="inputUsername" class="col-sm-4 control-label">Логін</label>
		<div class="col-sm-8">
			<span class="form-control">{{user.username}}</span>
		</div>
	</div>
	<h4 style="text-align:center; margin-top:15px">Особисті дані:</h4>
	<div class="form-group">
		<label for="firstName" class="col-sm-4 control-label">Ім'я</label>
		<div class="col-sm-8">
			<input type="text" id="firstName" ng-model="user.firstName" class="form-control" required>
		</div>
	</div>
	<div class="form-group">
		<label for="lastName" class="col-sm-4 control-label">Прізвище</label>
		<div class="col-sm-8">
			<input type="text" id="lastName" ng-model="user.lastName" class="form-control" required>
		</div>
	</div>
	<div class="form-group">
		<label for="phone" class="col-sm-4 control-label">Телефон</label>
		<div class="col-sm-8">
			<input type="text" id="phone" ng-model="user.phone" class="form-control" required>
		</div>
	</div>
	<div class="form-group">
		<label for="phone2" class="col-sm-4 control-label">Телефон 2</label>
		<div class="col-sm-8">
			<input type="text" id="phone2" ng-model="user.phone2" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="email" class="col-sm-4 control-label">E-mail</label>
		<div class="col-sm-8">
			<input type="text" id="email" ng-model="user.email" class="form-control" required>
		</div>
	</div>
	<div  class="form-group">
		<div class="col-sm-8 col-sm-offset-4">
		<input class="btn btn-primary" type="submit" value="Зберегти" />
	</div>
	
  </form>
</div>